/*resete basico*/
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #e6e6e6;
    font-family: "Ancizar Serif", serif;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #1f2937;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
    gap: 30px;
}

header nav ul li a {
    color: #bdbdbd;
    /* Cor do link */
    text-decoration: none;
    /* Remove sublinhado */
    display: inline-block;
    /* Permite manipular como bloco */
    transition: 0.2s;
    /* Transição suave para hover */
    font-size: 1.4em;

}

/* HOVER é uma pseudo-classe que realiza um efeito ao passar o mouse  */
header nav ul li a:hover {
    color: white;
    /* Muda cor ao passar o mouse */
    transform: scale(1.05);
    /* Efeito de zoom leve */
}

#conteudo {
    display: grid;
    grid-template-columns: 2fr 200px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* estilização game */
H1{
    font-size: 40px;
    color:crimson;
    text-align: center;
}

p{

 background-image: linear-gradient(to right,rgb(0, 0, 0),yellow);
text-align: center;
font-size: 30px;
text-transform:uppercase;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
